[2019-05-02 08:34] pcouchet opened #1 "Ajout de Omeka"
Serait-il possible d'intégrer à la liste les 2 logiciels Omeka : https://omeka.org/
- Omeka Classic
- Omeka S
- Une liste des fonctionnalités et usages francophones  :  https://archivengines.wordpress.com/omeka/

Omeka Classic et Omeka S sont deux gestionnaires de contenus adaptés pour la mise en ligne de fichiers présentant un intérêt littéraire, scientifique, patrimonial ou archivistique.

[2019-05-05 10:30] bzg commented on #1
Merci pour la proposition.

Je ne suis pas en position de décider de l'ajout ou non d'une "souche" dans le SILL, c'est du ressort des groupes qui l'élaborent et le publient - mais je note bien la demande et la fais suivre.

S'il fallait trouver un organisme public référent pour ce logiciel, est-ce que https://www.huma-num.fr vous semblerait le bon ?

[2019-05-06 08:06] MaelTheuliere opened #2 "Ajout de logiciels pour le traitement de données"
Bonjour,
Merci pour ce guide. Je suis étonné de ne rien voir sur la partie data, compte tenu de la place croissante que prend le libre dans ce domaine dans l'administration.
Il me semble qu'on pourrait démarrer simplement en rajoutant R et python dans cette partie. Je pense que Etalab aurait surement d'autres suggestions pour affiner tout cela (librairies de dataviz / cartoviz par exemple comme ve

[2019-05-06 08:45] bzg commented on #2
Bonjour,
merci pour votre retour.  C'est une bonne suggestion, nous pourrons intégrer ces logiciels dans des évolutions futures du SILL.

[2019-05-06 08:54] MaelTheuliere commented on #2
Super bon courage pour la suite.

[2019-05-06 17:11] alban-auzeill opened #3 "Ajout de SonarQube comme logiciel parent"
Bonjour,
Concernant "Conception & Développement/Qualité et sécurité du code source" des plugins de SonarQube sont listés (FindBugs, CheckStyle, Pmd) mais avec la formulation actuelle SonarQube ne semble pas être listé en tant que tel.
De plus, il pourrait être précisé que SonarCloud (hébergement de SonarQube dans le 'cloud') offre plus de fonctionnalités (8 langages de plus, gestion des pull reque

[2019-05-06 17:51] bzg commented on #3
Bonjour, merci pour ce retour. Je l'ai fait suivre aux groupes qui composent le SILL. Cela me semble logique aussi de mettre SonarQube en logiciel parent. Pour ce qui est d'ajouter la mention d'un logiciel non-libre, ce n'est pas dans la finalité de ce document, les utilisateurs peuvent trouver l'information par eux-mêmes.

[2019-05-07 07:10] ghost opened #4 "Ajout de Lazarus et CodeTyphon"
Bonjour,
Je développe en pascal depuis 1983.
Donc, mon institut a fait l'acquisition d'une licence Delphi depuis plusieurs années.
Mais j'utilise aussi comme outil libre :
Lazarus
https://www.lazarus-ide.org/
et CodeTyphon
https://www.pilotlogic.com/
Tous les deux basés sur le compilateur FreePascal et permettant de faire de la cross-compilation .
Je suggère  de faire apparaitre ces outils dans l'

[2019-05-07 07:25] bzg commented on #4
C'est bien noté, merci beaucoup.  Jusqu'à présent, les "souches" présentées dans le SILL ont besoin d'être portées par un "référent" en administration centrale, mais ce critère pourra évoluer. La demande est bien notée en tous cas.

[2019-05-07 12:50] bzg opened #5 "Ajout de element"
Demande faite en interne à la DINSIC, Tchap reposant sur Riot.

[2019-05-07 13:20] fredboller opened #6 "Envisager d'ajouter des informations sur la disponibilité sous MacOS"
Bonjour, il manque une colonne MacOSX dans le descriptif des logiciels.

[2019-05-09 08:49] MathieuSpehar opened #7 "Ajout du logiciel SCENARI"
Bonjour,
Est-il possible d'ajouter au référentiel de logiciels libres les logiciels proposés par SCENARI (Opale, Topaze, Dokiel,...).
- Nom du logiciel libre : Scenari
- URL de la licence : https://scenari.org/co/1_B_1_LogicielLibre.html
- Organisme(s) public(s) utilisateur(s) et "référent(s)" : https://www.scenari.org/asso/co/adherents.html
Merci d'avance.
Cordialement,

[2019-05-09 09:06] bzg commented on #7
Bonjour @MathieuSpehar, la proposition est notée, merci.

Son acceptation dépend d'évolutions à venir du SILL qui ne sont pas encore actées.

Un point pour améliorer la proposition: il faudrait qu'il y ait un référent unique dans l'administration.

[2019-05-10 08:40] NicolasLeport opened #8 "Intégrer des critères écoresponsables au sein du SILL"
Tenir compte des impacts environnementaux et sociaux des logiciels libres de droits avant de les conseiller (SILL). Proposer des critères de notation tel que les droits humains, le code du travail, la présence de labels ou non, la source d'énergie utilisée, l'impact carbone de la conception et de l’utilisation du logiciel.

[2019-05-13 11:30] bonjourmauko opened #9 "Ajout du logiciel OpenFisca"
Bonjour,

Est-il possible d'ajouter au référentiel de logiciels libres le logiciel OpenFisca ?

- Nom du logiciel libre : OpenFisca
- License : AGPL-3.0
- URL de la licence : https://www.gnu.org/licenses/agpl-3.0.en.html
- Site France : https://fr.openfisca.org/
- Site international : https://openfisca.org/en/
- Github : https://github.com/openfisca
- Documentation : https://openfisca.org/doc/
- E

[2019-05-13 13:02] bzg opened #10 "Ajout de GINCO"
GINCO est une application multiutilisateurs dédiée à la gestion de référentiels terminologiques.

Le code source est publié par le ministère de la culture [ici](https://github.com/culturecommunication/ginco).

Un référent s'est proposé pour cette souche.

[2019-05-13 14:01] bzg opened #11 "Ajouter le lien vers le dépôt officiel du code source"
Tout est dans le titre. Le but est de proposer une information de référence faisant gagner du temps aux personnes qui recherchent cette information.

[2019-05-13 15:38] bzg opened #12 "Ajout des outils data4citizen"
Des outils pour produire des site web d'ouverture des données tels https://data.anfr.fr ou https://www.databfc.fr

Voir http://gitlab.bpm-conseil.com/d4c pour le code source.

[2019-05-18 16:31] bzg opened #13 "Ajout de JobScheduler"
https://fr.wikipedia.org/wiki/JobScheduler

[2019-05-20 10:10] Cybereric opened #14 "uMap et non "uMap.OpenStreetMap""
Bonjour,

Dans le SILL 2019 vous parlez de "uMap.OpenStreetMap"

Quelques précisions à ce sujet.

**1/** "uMap.OpenStreetMap" n'existe pas il s'agit en fait d'"**uMap**".

uMap est accessible à l'adresse [[https://umap.openstreetmap.fr](https://umap.openstreetmap.fr)] parce que c'est l'association « OpenStreetMap France » qui l'héberge.

**2/** Vous classez uMap dans la catégorie  "Orchestration e

[2019-05-20 10:26] bzg commented on #14
Bonjour @Cybereric,

merci pour vos remarques.  Je suis d'accord avec le problème de classification d'**uMap**.

De mon point de vue, le SILL ne devrait pas référencer des services web, seulement des logiciels installables par les « utilisateurs », qui sont en premier lieu les organismes publics.

Il faudrait donc plutôt référencer https://github.com/umap-project/umap - mais il faudrait pour cela

[2019-05-20 10:32] bzg opened #15 "Intégrer la dernière version stable de LibreOffice"
The title says it all.

[2019-05-20 12:46] Cybereric commented on #14
Oui mais justement ne serait-il pas quand même intéressant de signaler l'existence de services libres ?
De cette manière de futurs utilisateurs d'un service mis en place par un organisme public  verraient qu'il existe autre chose que la solution propriétaire "visible". Et pour les plus curieux d'entre eux ils pourraient déjà commencer à s'en servir.
Si les gens ne sont pas informés de l'existence

[2019-05-20 13:51] bzg commented on #14
Pourquoi pas, c'est à discuter avec l'ensemble des acteurs qui font le SILL.

Je ne connaissais pas cet annuaire, merci !

[2019-06-04 11:04] bzg opened #16 "Ajout de opensvc"
Voir https://github.com/opensvc/opensvc

Citation des auteurs : "Ce produit compte parmi ses utilisateurs des acteurs Français du monde de la finance, des représentants de l'industrie, des hébergeurs, ainsi qu'une entité du transport public, et un ministère."

[2019-06-07 16:08] bzg opened #17 "Ajouter un lien vers le téléchargement de LibreOffice MIMO 6.1"
Le lien actuel est celui-ci: ftp://eoleng.ac-dijon.fr/Archive-Mimo/mimo-dev/Libo616_Mimo/

A indiquer dans le SILL 2019.

[2019-06-18 14:39] R4Xx opened #18 "Ajout de Veyon"
Bonjour,

Je viens à vous dans le cadre d'une demande de renseignements afin de pouvoir ajouter un logiciel à la liste du SILL.
En effet, actuellement formateur en police technique et scientifique, j'enseigne fréquemment en utilisant des démonstrations dérivées informatiques. Or je ne dispose pas de logiciel permettant de prendre la main sur les postes de mes apprenants.

Quelle est la démarche qu

[2019-06-19 05:03] bzg commented on #18
Bonjour,

une réflexion est engagée pour la refonte du SILL, à la fois pour sa présentation (en ligne) et pour la façon dont un logiciel peut "entrer" dans le SILL. Aujourd'hui, les logiciels (les "souches") listés le sont parce qu'il existe un usage avéré dans une administration centrale et un référent prêt à répondre aux autres administrations de cet usage. Ce référent est connu des autres admin

[2019-06-19 07:39] R4Xx commented on #18
Merci d’avoir pris le temps de répondre.

Dans l’attente de la nouvelle refonte, je vous souhaite une e celle te journée.

[2019-07-22 08:33] PenoKrish commented on #13
Bonjour,

Je suis expert sur la solution JobScheduler.
J'ai mis en place pour le groupe Societe Generale afin de réduire les coûts  et de concurrencer l'ordonnanceur Control-M.
D'ici fin 2019, j'ai prévu 15000 jobs sur cet outil.
Je suis à votre disposition pour toutes questions.

Cordialement,

[2019-07-22 08:33] PenoKrish commented on #13
http://www.sos-berlin.com/jobscheduler

[2019-07-22 08:50] bzg commented on #13
Merci. Les suggestions faites dans les issues de ce dépôt sont en attente de choix stratégiques pour un repositionnement du SILL, mais elle seront bien prises en compte.

[2019-09-10 16:19] lalejand opened #19 "Proposition d'inclusion des logiciels Scenari dans la liste SILL"
Bonjour,

SCENARI est une suite de solutions logicielles libres qui s'adresse à des utilisateurs-métiers différents, ayant en commun la création, la conception et la modélisation de documents dans des domaines tels que :

- Enseignement - Formation - Ingénierie Pédagogique (https://scenari.software/fr/co/training.xhtml)
- Rédaction de documentation (https://scenari.software/fr/co/tech-communicatio

[2019-09-10 17:10] lalejand commented on #7
Oups je viens de faire une nouvelle entrée pour les logiciels Scenari: https://github.com/DISIC/sill/issues/19
Comme les logiciels scenari sont dirigés chacun pour un métier particulier, se sont des logiciels indépendants. Quelles infos faut-il apporter pour chaque logiciel ?

[2019-09-11 12:12] bzg commented on #17
Fait.

[2019-09-11 12:12] #17 closed, assigned to nobody

[2019-09-11 12:16] #14 closed, assigned to nobody

[2019-09-11 12:22] bzg opened #20 "Retravailler les catégories de recommandation"
Aujourd'hui, le SILL distingue trois niveaux :

1.  les souches libres *recommandées* (`R`)
2.  les souches libres *en observation* (`O`)
3.  les souches libres *en fin de recommandation* (`FR`)

La proposition consiste à proposer ces niveaux :

1.  les souches libres *recommandées* (`R`)
2.  les souches libres *en observation* (`O`)
3.  les souches libres *en usage* (`U`)

Les souches en fin de r

[2019-09-11 12:22] bzg opened #21 "Distinguer deux rôles : "référent" et "utilisateur""
Aujourd'hui, un référent est une personne dont le nom n'apparaît pas publiquement sur le SILL mais qui est la personne ressource pour les groupes MIM quand ceux-ci cherchent des informations sur une souche.  Aucune souche n'entre dans le SILL sans référent.

La proposition consiste à distinguer deux rôles :

-   **Référent:** la personne « porte » la souche dans les groupes MIM.

-   **Utilisateur

[2019-09-11 12:23] bzg opened #22 "Mieux définir les « critères » d'entrée dans le SILL"
Aujourd'hui, la liste des critères est publiée dans un document interne aux groupes MIM.

Nous proposition de les réorganiser en (1) **prérequis** (pour tous les niveaux), (2) **critères** obligatoires pour le niveau *recommandé* (`R`) et en (3) informations complètementaires (pour tous les niveaux `R`, `O` et `U`.)

**Prérequis pour tous les niveaux :**

-   Le code source du logiciel est publié

[2019-09-11 12:24] bzg opened #23 "Publier le sill sur sill.etalab.gouv.fr"
Le SILL est aujourd'hui publié par les groupes MIM en PDF dans sa version stable.

Il est aussi publié sur ce dépôt comme une version de travail.

La publication du SILL sur un sous-domaine d'Etalab répondrait en partie au problème du portage officiel du SILL par la DINSIC.  L'outil de publication devrait aussi permettre de gérer les demandes d'entrée dans le SILL et l'harmonisation du travail des

[2019-09-11 12:25] bzg opened #24 "Publier des cas d'usage et des informations sur l'utilisation"
Si l'entrée d'un logiciel libre au niveau *recommandé* (`R`) dépend de l'existence d'informations publiques sur son utilisation effective par un ministère ou un organisme public, il faut commencer à publier ce genre d'informations quelque part.

[2019-09-11 12:26] bzg opened #25 "Ouvrir (tous?) les niveaux à tous les organismes publics"
Aujourd'hui, les souches présentes dans le SILL sont utilisées dans les ministères centraux, qu'elles soient en recommandation ou en observation.

Nous pouvons envisager d'ouvrir le nouveau niveau U à tous les organismes publics, voire même tous les niveaux à tous les organismes publics, au-delà des seuls ministères centraux.

[2019-09-11 12:27] bzg commented on #8
Cf. https://github.com/DISIC/sill/issues/22 - ces informations sur l'éco-responsabilité des souches présentées dans le SILL pourraient être ajoutées dans un premier temps à titre d'informations supplémentaires, sans être un critère obligatoire pour le passage en recommandation.

[2019-09-12 09:51] kuczynski commented on #23
pour rappel: le SILL est également publié sur le [comptoir du libre](https://sill.comptoir-du-libre.org).
ADULLACT se porte volontaire pour aider à faire vivre sill.etalab.gouv.fr

[2019-09-12 09:53] bzg commented on #23
L'idée est qu'il s'agisse à la fois d'une interface de publication _et_ d'édition collaborative permettre de soumettre une nouvelle souche et de suivre sa validation. C'est encore en développement, je vise la fin de l'année.

[2019-09-19 16:34] bzg opened #26 "Proposer une nouvelle "segmentation" des souches (catégories ou tags) ?"
Voir [cette suggestion](https://forum.etalab.gouv.fr/t/expertise-logiciels-libres-segmentation-par-domaines/4537/4?u=bzg) dans la discussion sur le forum Etalab.

[2019-09-19 18:59] fanetk commented on #8
Bonsoir, un ouvrage/travail pertinent sur le sujet : https://www.greenit.fr/2019/09/10/sobriete-numerique-les-cles-pour-agir/ pour info sur le coté GreenIT. D'une manière générale un code ouvert (LL) est par essence optimisé par les contributeurs, réutilisable, distribuable etc et de ce fait intègre les critères que nous pourrions donner à un logiciel).
Du coup je ne pense pas nécessaire qu'il y a

[2019-09-19 19:01] fanetk commented on #20
Parfait (en ce qui me concerne) et compréhensible si c'est bien traité ainsi.

[2019-09-19 19:13] fanetk commented on #25
Le SILL est publique :-) est sa valeur vient du fait qu'il concerne l'ensemble des ministères.
J'ai peur que si le niveau U "s'ouvre" à l'ensemble des collectivités nous perdions clairement en lisibilité et pertinence (+ orientés sur les métiers, important aussi...).
Tu parles "d'organismes publics" perso à partir du moment tu as une "tutelle" / ministère il est possible de participer au SILL ? Me

[2019-09-19 20:06] fanetk commented on #23
Qu'il y ait une "industrialisation" serait vraiment pertinent et merci bzg si tu travailles dessus.
Ce point rejoint d’ailleurs le thread sur les "cas d'usages" qui pourrait être pensé de concert avec le process de soumission, d'animation, de contrôle...mais pour le moment un pdf (ODF) est franchement suffisant (+html et epub peut etre?).
Suffisamment industrialisé de façon à pouvoir sortir une ve

[2019-09-20 10:00] bzg commented on #8
Une première piste pourrait être d'encourager la DINSIC à publier une évaluation du type [ecoindex](http://www.ecoindex.fr) pour les sites des organismes publics. Cela alerterait sur les sites trop lourds et trop complexes. C'est tangent à la question de l'accessibilité, sujet par ailleurs bien porté par la DINSIC.

J'ai un début d'[expérimentation](https://gouvfr.bzg.fr/), mais j'attends de faire

[2019-09-20 10:03] bzg commented on #25
Pour être prudent, on pourrait effectivement commencer à n'ouvrir le niveau U (« en usage ») que pour les ministères centraux, voire si cela prend et si des gens acceptent d'être référent pour des logiciels libres couramment utilisés.

Et effectivement, si le https://comptoir-du-libre.org/ fait déjà le travail de référencement de l'existant en usage dans les collectivités, pas besoin d'intégrer ça

[2019-09-20 10:10] bzg commented on #23
Ce sont de toutes façons les groupes MIM qui restent à la manoeuvre, je ne viens qu'en support et coordination/animation.

Mon hésitation aujourd'hui sur l'« industrialisation » est celle-ci: faut-il une interface web dédiée permettant de gérer une partie privée et une partie publique, ou bien le contenu du SILL peut-il évoluer entièrement en public?

Le SILL pourrait simplement être un fichier `.

[2019-09-20 13:26] fcuignet opened #27 "Intégrer Zotero dans le SILL"
Bonjour,
Serait il possible d'intégrer le gestionnaire de citation zotero www.zotero.org ?
Cordialement

[2019-09-20 13:32] bzg commented on #27
Bonjour, oui, bonne idée, mais cela doit attendre la refonte pour qu'une catégorie "en usage" apparaisse (voir [cette issue](https://github.com/DISIC/sill/issues/20)).

[2019-09-20 18:33] coudot opened #28 "Ajouter des composants utilisés dans les projets IAM"
Bonjour,

nous déployons souvent pour les administrations et collectivités locales les logiciels suivants qui ne sont pas encore référencés dans le SILL :
* LSC : https://lsc-project.org/
* LTB Self Service Password : https://ltb-project.org/documentation/self-service-password
* LTB White Pages : https://ltb-project.org/documentation/white-pages

[2019-09-23 09:16] bzg commented on #28
Merci pour l'information ! Avec les évolutions envisagées sur le SILL, nous n'en sommes pas encore à savoir comment intégrer les soumissions, mais j'espère que nous pourrons traiter ça dans les mois qui viennent.

[2019-09-23 09:33] coudot commented on #28
Merci pour ta réponse. L'idée était aussi de bien identifier une catégorie "IAM" dans le SILL. Dans la SILL 2019, en cherchant IAM on ne trouve que KeyCloak, et en cherchant SSO on ne trouve que LL::NG, ce qui n'est pas très cohérent.

[2019-09-23 09:39] bzg opened #29 "Proposer des mots-clefs en plus des catégories"
Aujourd'hui, dans le SILL 2019, les catégories pour classer les "souches libres" s'adressent en premier lieu aux DSI ministérielles.

Nous pourrions ajouter des mots-clefs en plus des catégories de façon à faciliter la recherche pour ceux qui ne sont pas familiers avec les nomenclatures ministérielles.

Voir notamment la suggestion faite [ici](https://github.com/DISIC/sill/issues/28#issuecomment-5

[2019-09-24 08:10] XanderLeaDaren opened #30 "Ajout de OpenShot Video Editor"
https://fr.wikipedia.org/wiki/OpenShot_Video_Editor

[2019-09-24 08:10] XanderLeaDaren opened #31 "Ajout de GeoGebra"
https://fr.wikipedia.org/wiki/GeoGebra

[2019-09-24 08:11] XanderLeaDaren opened #32 "Ajout de Scratch"
https://fr.wikipedia.org/wiki/Scratch_(langage)

[2019-09-24 08:12] XanderLeaDaren opened #33 "Ajout de Thonny"
https://en.wikipedia.org/wiki/Thonny

[2019-09-24 08:12] XanderLeaDaren opened #34 "Ajout de Marble"
https://fr.wikipedia.org/wiki/Marble

[2019-09-24 08:13] XanderLeaDaren opened #35 "Ajout de Gramps"
https://fr.wikipedia.org/wiki/Gramps

[2019-09-24 08:17] XanderLeaDaren opened #36 "Rédiger une plaquette lisible rapidement pour l’utilisateur occasionnel"
Mettre en avant les logiciels les plus utiles pour un utilisateur final non administrateur.

Exemple :
![ekrano-kopio 2019-09-24 à 10 16 17](https://user-images.githubusercontent.com/28948599/65494032-5dc23900-deb4-11e9-9a6e-4f05464ebfb8.jpg)

[2019-09-24 08:18] XanderLeaDaren opened #37 "Ajout de F-Droid"
https://fr.wikipedia.org/wiki/F-Droid

[2019-09-24 08:38] bzg commented on #37
Merci ! Connaissez-vous une administration utilisatrice (de préférence un ministère) ? Un contact dans une administration/ministère qui pourrait répondre à cette question ?  Pouvez-vous donner un lien vers le fichier de licence et un autre vers le code source ?

[2019-09-24 08:38] bzg commented on #30
Merci ! Connaissez-vous une administration utilisatrice (de préférence un ministère) ? Un contact dans une administration/ministère qui pourrait répondre à cette question ?  Pouvez-vous donner un lien vers le fichier de licence et un autre vers le code source ?

[2019-09-24 08:38] bzg commented on #31
Merci ! Connaissez-vous une administration utilisatrice (de préférence un ministère) ? Un contact dans une administration/ministère qui pourrait répondre à cette question ?  Pouvez-vous donner un lien vers le fichier de licence et un autre vers le code source ?

[2019-09-24 08:38] bzg commented on #32
Merci ! Connaissez-vous une administration utilisatrice (de préférence un ministère) ? Un contact dans une administration/ministère qui pourrait répondre à cette question ?  Pouvez-vous donner un lien vers le fichier de licence et un autre vers le code source ?

[2019-09-24 08:39] bzg commented on #33
Merci ! Connaissez-vous une administration utilisatrice (de préférence un ministère) ? Un contact dans une administration/ministère qui pourrait répondre à cette question ?  Pouvez-vous donner un lien vers le fichier de licence et un autre vers le code source ?

[2019-09-24 08:39] bzg commented on #34
Merci ! Connaissez-vous une administration utilisatrice (de préférence un ministère) ? Un contact dans une administration/ministère qui pourrait répondre à cette question ?  Pouvez-vous donner un lien vers le fichier de licence et un autre vers le code source ?

[2019-09-24 08:39] bzg commented on #35
Merci ! Connaissez-vous une administration utilisatrice (de préférence un ministère) ? Un contact dans une administration/ministère qui pourrait répondre à cette question ?  Pouvez-vous donner un lien vers le fichier de licence et un autre vers le code source ?

[2019-09-24 08:40] bzg commented on #36
Bonne idée, merci. À voir comment cela peut être pris en main par le groupe MIMO qui s'occupe plus spécifiquement des logiciels de bureautique pour les agents.

[2019-09-24 14:43] XanderLeaDaren commented on #32
Bonjour,
– Scratch est documenté par l’Académie de Montpellier : http://disciplines.ac-montpellier.fr/mathematiques/des-tic-pour-des-maths/logiciels/scratch
– licence CC-BY-SA 2.0 d’après https://scratch.mit.edu/terms_of_use
– code source : https://github.com/LLK/scratch-gui et https://github.com/LLK/scratch-flash

[2019-09-24 14:47] XanderLeaDaren commented on #31
Bonjour,
– GeoGebra est présenté sur le site de la DSDEN de l’Académie d’Amiens : http://ash.dsden02.ac-amiens.fr/125-geogebra.html
– licence : https://www.geogebra.org/license
– sources : http://dev.geogebra.org/trac/wiki/SourcesForUsedLibraries

[2019-09-24 14:48] bzg commented on #32
Merci !

[2019-09-24 14:51] XanderLeaDaren commented on #30
Bonjour,
– OpenShot est présenté sur le site de l’Académie de Rouen : http://numeriques.spip.ac-rouen.fr/?Openshot
– licence GPL 3.0 d’après https://www.openshot.org/fr/about/
– code source : https://github.com/OpenShot

[2019-09-24 15:04] XanderLeaDaren commented on #37
Bonjour,
– F-Droid est mentionné sur Etalab : https://mastodon.etalab.gouv.fr/@cerisara/102378938538607645 notamment avec son utilisation pour l’application OSMAnd (peut-être à ajouter comme version Android d’OpenStreetMap, d’ailleurs) ;
– licence GNU Affero 3.0 d’après https://f-droid.org/fr/about/
– source : https://gitlab.com/fdroid/fdroidclient

[2019-09-25 09:29] bzg opened #38 "WAPT"
https://fr.wikipedia.org/wiki/Wapt_(logiciel)

Voir avec le MTES pour un référent.

[2019-09-26 06:44] rjoly opened #39 "Ajout de Hibernate Search"
Comme Apache SolR déjà présent dans le référentiel, Hibernate Search est basé sur Lucene. C'est une couche d'abstraction en lien avec l'ORM Hibernate Core.

A ajouter dans la catégorie "Données et contenu > Moteur de recherche > Indexation et recherche plein texte"

https://fr.wikipedia.org/wiki/Hibernate#Search
https://hibernate.org/search/

[2019-09-26 06:50] rjoly opened #40 "Ajout de Gitlab CI / CD"
A ajouter dans la catégorie "Conception & Développement > Test & Intégration > Intégration continue / Déploiement continu".

Outil aux fonctionnalités similaires à Jenkins par exemple.

https://about.gitlab.com/product/continuous-integration/

[2019-09-26 06:59] bzg commented on #39
Bonjour ! Merci pour la proposition. Avez-vous des informations sur un ministère ou un autre organisme public qui utiliserait déjà Hibernate Search ? Voire un agent public dans ce ministère ou cet organisme qui pourrait se porter référent pour ce logiciel ?

[2019-09-26 07:01] bzg commented on #40
Bonjour et merci pour la proposition. Est-ce qu'il y a du sens à recommander GitLab CI / CD indépendamment de GitLab ? J'imagine qu'il faut plutôt recommander GitLab CE en général. Si la CI / CD est installable séparément, comme un module de GitLab CE, alors cela peut faire l'objet d'une recommandation distinct.

Ensuite, si vous avez des informations sur un ministère utilisateur et un éventuel ré

[2019-09-26 07:21] rjoly commented on #39
Ce composant est intégré à notre socle [Igloo](https://github.com/igloo-project/igloo-parent). Nous l'utilisons notamment pour une application du MTES (Ministère de la Transition Ecologique et Solidaire). Néanmoins, je ne sais pas s'il existe des directives concernant son utilisation, je sais simplement que c'est un composant relativement "mainstream", que nous utilisons depuis des années, qui évo

[2019-09-26 07:23] bzg commented on #39
Merci beaucoup.

[2019-09-26 10:16] revolunet commented on #40
Nous utilisons GitHub + GitLab pour la partie CI/CD. La fonction de synchro GitHub->GitLab nécessite des licences par contre :/

[2019-09-26 10:36] rjoly commented on #40
Gitlab CI/CD ne peut effectivement pas, à ma connaissance, s'installer sans Gitlab (CE ou payant). Mais du coup, la réflexion est peut-être à porter sur l'affichage à donner aux outils dans le SILL.

Par exemple, si on cherche des outils pour faire de l'intégration continue, on se dit qu'il n'y a que Jenkins à la première lecture du tableau. On pourrait mettre à côté "Gitlab CI (CE)" en indiquant

[2019-09-26 10:47] rjoly commented on #40
@revolunet nous avons un projet dont le repo "maître" est [sur GitHub](https://github.com/igloo-project/igloo-parent) et nous faisons tourner son intégration continue dans notre Gitlab hébergé chez nous (en version CE). On utilise des webhooks GitHub vers les API Gitlab pour lui indiquer de mettre à jour le repo "esclave" et ainsi déclencher les jobs de CI/CD.

Je ne sais pas si c'est iso-fonction

[2019-09-26 11:31] bzg commented on #40
Oui, tout à fait d'accord - je propose de poursuivre la discussion sur la présentation [ici](https://github.com/DISIC/sill/issues/26).

[2019-09-26 11:45] revolunet commented on #40
Merci @rjoly oui ca m'intéresse merci :) en gros vous mettez en place les webhooks à la main et ca suffit ? Je pense que GitLab ajoute en plus les "interactions" sur la PR (statut...)

[2019-09-30 09:13] bilbo-the-hobbit opened #41 "Ajouter FusionDirectory dans les solutions IAM"
###  Nom
FusionDirectory

### urls
site web : https://www.fusiondirectory.org/

forge : https://gitlab.fusiondirectory.org

License : https://gitlab.fusiondirectory.org/fusiondirectory/fd/-/blob/fusiondirectory-1.3/LICENSE

### Fonctionnalites

FusionDirectory https://www.fusiondirectory.org/ est une solution de gestion des identités fortement utilise dans l'enseignement Supérieur Recherche, elle

[2019-09-30 09:22] bzg commented on #41
Merci !

[2019-10-02 17:22] lalmeras commented on #40
@revolunet

Pour rebondir sur la réponse de @rjoly, on utilise un projet à part qui fournit un script de CI (.gitlab-ci.yml + scripts bash) qui font les travaux de mirroring. Les pipelines étant configurés comme endpoint des notifications de push github.

J'ai poussé le projet ici : https://github.com/kobalt-fr/pipeline-triggers. Normalement le README est explicite. Vous pouvez poser des questions

[2019-10-07 04:57] bzg opened #42 "Ajouter Blazegraph"
Ajouter Blazegraph, utilisé par la [DGE](https://www.data.gouv.fr/fr/datasets/5b598be088ee387c0c353714/#discussion-5bb714a48b4c412fa0426f54-1).

[2019-10-15 15:47] fredericBregier opened #43 "Ajouter Waarp"
Waarp est une suite de logiciels qui assure la gestion de transferts de fichiers (en « anglais » MFT pour « Manage File Transfer »). Parmi ses capacités, il permet d’assurer le suivi, la traçabilité, la reprise sur incident et le transfert de nombreux fichiers, y compris de grande taille, et ce dans un environnement sécurisé et exploitable.
Waarp est le premier acteur du marché à avoir couplé le m

[2019-10-18 21:22] fanetk commented on #24
Bonsoir,
en ce qui concerne ce type de publications cela pourrait être confié à "Etalab" cf https://github.com/DISIC/sill/issues/23
fa

[2019-10-18 21:46] fanetk commented on #21
Intéressant car cela permet de valoriser, humainement parlant, les personnes impliquées sur les projets, de les faire "exister".
Publier les noms des "référents" que pour celles et ceux qui le souhaite (et qd c'est possible/sécurité etc.)
De toute façon les souches sont publiques, non ?
Pour n'importe quel développeur il sera très facile de rentrer en contacts avec les utilisateurs... parmi lesque

[2019-10-19 08:58] bzg commented on #24
Etalab pourrait aider au niveau de la mise en forme, de l'éditorialisation et de la publication - mais ce serait inefficace qu'Etalab doivent aller chercher les informations, ça ne marcherait pas. Il faut encourager les administrations à partager ces retours d'expérience - ce n'est pas simple, c'est beaucoup de travail, mais j'espère qu'on pourra avancer.

[2019-10-19 09:02] bzg commented on #21
Merci pour le retour !

Oui, le partage ou la publication des noms ne peut se faire qu'avec l'accord des intéressés.

Au-delà de cet accord, il faudrait que le rôle de « référent » soit valorisé à l'intérieur de l'administration: c'est aujourd'hui la partie manquante, le SILL s'étant largement construit sur le temps libre et la bonne volonté des agents.  Avoir un autre rôle « d'utilisateur » marqu

[2019-11-06 17:51] bzg opened #44 "Ajout de RStudio"
En recherche d'un référent.

[2019-11-06 21:56] bellice commented on #44
Ok pour être le référent de RStudio.

**Pour info :**
Code source : https://github.com/rstudio/rstudio
License AGPL v3 : https://rstudio.com/products/rstudio/#rstudio-desktop

[2019-11-11 17:50] bzg commented on #25
Après discussion avec le groupe MIMO et partage avec le groupe MIM-noyau, il ne paraît pas opportun d'ouvrir tous les niveaux à tous les organismes publics pour l'instant, cela ferait trop de doublon avec le https://comptoir-du-libre.org.

[2019-11-11 17:50] #25 closed, assigned to bzg

[2019-11-11 17:51] bzg commented on #21
Après discussion avec le groupe MIMO et partage avec le groupe MIM noyau, il ne paraît pas opportun de distinguer ces deux niveaux pour l'instant.  La recommandation des souches libres doit continuer d'émaner de l'administration centrale.

Un mécanisme pourra exister sur la future interface du SILL pour qu'un organisme hors de l'administration centrale puisse se déclarer utilisatrice de la souche.

[2019-11-11 17:51] #21 closed, assigned to bzg

[2019-11-11 17:55] bzg commented on #20
Voir https://github.com/DISIC/sill/issues/25 et https://github.com/DISIC/sill/issues/21 : pas besoin d'une nouvelle catégorie pour l'instant. Les organismes publics hors de l'administration centrale pourront éventuellement déclarer qu'elles sont utilisatrice d'une souche libre via l'interface du SILL.

[2019-11-11 17:55] #20 closed, assigned to bzg

[2019-11-11 17:57] bzg opened #45 "Utiliser l'identifiant SPDX pour désigner la licence utilisée"

[2019-11-12 20:37] #22 closed, assigned to bzg

[2019-11-13 15:46] bzg opened #46 "Logiciel concerné : Ooo.HG"
Ooo.HG

La licence n'est pas libre : http://ooo.hg.free.fr/lic_cc/Creative%20Commons%20Deed.htm

[2019-11-13 21:28] bzg commented on #44
Merci pour les infos !  J'ai mis à jour la page https://disic.github.io/sill/index.html pour donner des précisions sur les critères d'admission dans le SILL et ce qu'implique d'être « référent » pour un logiciel.  Si tu as des questions n'hésite pas à me dire, ici ou par mail.

[2019-11-14 06:16] bzg commented on #29
Le champ "MOTS-CLEFS" a été ajouté dans les fichiers `.yaml`.

[2019-11-14 06:21] bzg opened #47 "Stabiliser et documenter le schéma du SILL"
- [x] Avoir les mêmes champs pour dev/prod/office
- [x] Définir un identifiant unique ("LOGICIEL")
- [x] S'assurer d'utiliser l'identifiant unique dans le champ `LOGICIELPARENT`
- [x] Documenter l'ensemble des champs dans ce dépôt
- [x] Voir quelles données peuvent être récupérées automatiquement de Wikidata

[2019-11-16 13:42] bzg opened #48 "Récupérer automatiquement certaines données de Wikidata"
- [x] logo
- [ ] image(s)
- [ ] licence(s)
- [x] lien vers le site officiel
- [x] lien vers le dépôt de code source
- [ ] lien vers le système de suivi de bugs
- [ ] formats en entrée et en sortie
- [ ] liste de systèmes d'exploitation compatibles

[2019-11-22 19:33] flzara opened #49 "Mise à jour version de Squash TM"
Squash TM a monté de version et propose désormais la version 1.20 depuis juin 2019

- URL du site : http://www.squashtest.com
- Code source sur Bitbucket : https://bitbucket.org/nx/squashtest-tm/src/default/
- Licence : LGPL v3 : https://bitbucket.org/nx/squashtest-tm/src/default/COPYING.txt
- repo des binaires : http://repo.squashtest.org/distribution/

Plusieurs ministères l'utilisent sur des ve

[2019-11-24 21:53] bzg commented on #49
Bonjour Florent,

Merci pour l'issue.

Voici mon email pour m'envoyer le nom des référents, à ne pas diffuser publiquement : `bastien.guerry@data.gouv.fr` - j'ai précisé le rôle des référent dans la [page d'accueil](https://disic.github.io/sill/), ceux-ci sont volontaires et il ne suffit pas d'être le contact d'un logiciel dans une administration centrale pour en être le « référent ».

Bonne soiré

[2019-11-25 10:07] flzara commented on #49
Réponse envoyée par email !

[2019-12-03 15:13] bzg opened #50 "Amélioration : mieux intégrer les extensions"
Certaines extensions sont disponibles pour plusieurs logiciels « parents » : par exemple Grammalecte qui est disponible pour Firefox et LibreOffice.

Pour ces extensions, je propose d'indiquer la version en cours d'utilisation quelle que soit le lien avec un logiciel parent, et de ne pas indiquer de logiciel parent.

[2019-12-04 15:03] bzg opened #51 "Nouveau logiciel : PgPool (Plugin Postgresql)"
PgPool (Plug in Postgresql)

https://www.pgpool.net/mediawiki/index.php/Main_Page

Oui

[2019-12-04 15:04] bzg opened #52 "Nouveau logiciel : Projeqtor (Gestion de projet)"
Projeqtor (Gestion de projet)

https://www.projeqtor.org/fr/

Oui

[2019-12-04 15:16] bzg opened #53 "Nouveau logiciel : Pulse"
Pulse

https://github.com/pulse-project/pulse2

Oui

[2019-12-17 11:03] Franck-Cnam commented on #53
Ce logiciel couvre la télédiffusion sur les postes de travail. Nous l'utilisons déjà dans une version 1.54 pour un parc de 100 000 postes de travail.
Nous évaluons PULSE2 dans le cadre d'un POC, avec un retour d'expérience partagé lors du MIMO de novembre.
Nous confirmerons notre intérêt et nous nous proposerons porteur au sein du SILL en début d'année après validation de ce choix.

[2019-12-17 16:49] bzg commented on #53
Merci beaucoup @Franck-Cnam !

[2019-12-21 15:21] #46 closed, assigned to bzg

[2019-12-21 15:48] #47 closed, assigned to bzg

[2019-12-21 15:51] bzg opened #54 "Logiciel concerné : OpenDocument Reader"
OpenDocument Reader

Pas de licence sur https://opendocument.app ou https://play.google.com/store/apps/details?id=at.tomtasche.reader&hl=fr

[2019-12-21 15:53] bzg commented on #11
Fait avec les données de Wikidata lorsqu'elles sont disponibles.

[2019-12-21 15:53] #11 closed, assigned to bzg

[2019-12-21 15:53] #3 closed, assigned to nobody

[2019-12-21 15:54] bzg commented on #3
Fait, merci !

[2019-12-21 15:56] bzg commented on #6
Bonjour, la discussion continue dans [cette issue](https://github.com/etalab/sill.etalab.gouv.fr/issues/3).

[2019-12-21 15:56] #6 closed, assigned to nobody

[2019-12-21 15:59] bzg commented on #45
Toutes les licences identifiées ont été "traduites" en leur équivalent SPDX.

L'amélioration de l'identification des licences continues via cette[ issue](https://github.com/etalab/sill.etalab.gouv.fr/issues/1).

[2019-12-21 15:59] #45 closed, assigned to bzg

[2019-12-21 16:00] bzg commented on #48
Voir https://github.com/etalab/sill.etalab.gouv.fr/ pour l'implémentation.

[2019-12-21 16:00] #48 closed, assigned to bzg

[2019-12-21 16:01] bzg commented on #38
Déjà dans le SILL.

[2019-12-21 16:01] #38 closed, assigned to bzg

[2019-12-21 16:02] bzg commented on #15
Les discussions récents dans les groupes MIM pointent vers des problèmes avec la `v6.3`, on restera peut-être sur la `v6.2`.

[2019-12-21 16:04] bzg commented on #7
Bonjour, je propose de poursuivre la discussion dans [cette issue](https://github.com/DISIC/sill/issues/19).

[2019-12-21 16:04] #7 closed, assigned to nobody

[2019-12-21 16:07] bzg commented on #29
Doublon avec #26.

[2019-12-21 16:07] #29 closed, assigned to bzg

[2019-12-21 16:07] bzg commented on #23
Fait en version alpha - ne pas diffuser largement.

[2019-12-21 16:07] #23 closed, assigned to bzg

[2019-12-28 10:43] bzg opened #55 "Recherche de référent : K9-email"
Pour K9-email.

Si vous utilisez K9-email en administration centrale et souhaitez devenir référent pour ce logiciel, merci de l'indiquer en réponse à cette issue.

[2020-01-06 10:05] bzg opened #56 "Nouveau logiciel : NAPS2 (Not Another PDF Scanner)"
NAPS2 (Not Another PDF Scanner)

Site : https://www.naps2.com/
Sources : https://github.com/cyanfish/naps2
Licence : https://github.com/cyanfish/naps2/blob/master/LICENSE
Version utilisée : 5.8.2 (du 2 juillet 2018)

Oui.

[2020-01-07 09:59] #56 closed, assigned to bzg

[2020-01-08 10:18] bzg commented on #53
La CNAM a confirmé pouvoir être référent sur Pulse.

[2020-01-08 14:47] bzg opened #57 "Amélioration : Add a "comptoir-du-libre" field with permalinks to the software in https://comptoir-du-libre.org"
https://sill.etalab.gouv.fr pourrait pointer vers la fiche du logiciel sur https://comptoir-du-libre.org

Ajouter une colonne `comptoir-du-libre` et la renseigner.

[2020-01-08 14:48] bzg commented on #57
Cc @mfaure

[2020-01-08 15:46] bzg opened #58 "Logiciel concerné : mongodb"
MongoDB

La licence de mongodb ne figure plus parmi les licences libres de l'OSI ou de la FSF.

[2020-01-08 16:23] bzg opened #59 "Recherche de référent : GPLI Escalation"
Il manque un référent pour GPLI Escalation.

[2020-01-08 16:24] bzg opened #60 "Recherche de référent : GLPI Behaviors"
Il manque un référent pour GLPI Behaviors.

[2020-01-08 16:24] bzg opened #61 "Recherche de référent : Veracrypt"
Il manque un référent pour Veracrypt.

[2020-01-08 16:26] bzg opened #62 "Recherche de référent : DBAN"
Il manque un référent pour DBAN.

[2020-01-09 08:28] bzg opened #63 "Amélioration : suppression du doublon pour Jitsi"
Jitsi apparaît deux fois.

Décider si Jisti doit être dans MIMPROD ou MIMO : je propose qu'il soit dans MIMO.

[2020-01-09 08:31] bzg opened #64 "Amélioration : ajout d'une colonne "alternative-a""
Lorsqu'on cherche "Photoshop", on devrait trouver "Gimp".

Il faudrait ajouter une colonne "alternative-a" dans laquelle on renseigne manuellement les logiciels (propriétaires) pour lesquelles la souche est une alternative.

Cela devrait permettre de chercher dans le SILL via ces alternatives.

[2020-01-09 08:32] bzg opened #65 "Amélioration : ne plus indiquer la version du logiciel"
Cette information est trop liée aux contraintes de l'administration référente, et en l'absence d'information contextuelle sur cette administration, elle n'est pas utile.

Pour les logiciels libres dont des versions spécifiques sont supportées dans le cadre du marché de support logiciels libres, le SILL pourrait renvoyer à l'information concernant ces logiciels et les versions supportées.

[2020-01-09 08:34] bzg opened #66 "Amélioration : indiquer les souches faisant l'objet d'un marché de support"
Lorsqu'on trouve, par exemple, Postgresql, on devrait savoir que ce logiciel fait partie d'un marché de support.  Les administrations consultant le SILL devraient aussi savoir si elles peuvent solliciter le marché de support et avoir un contact pour répondre à leurs questions.

[2020-01-09 08:43] #64 closed, assigned to bzg

[2020-01-09 08:44] #63 closed, assigned to bzg

[2020-01-09 13:47] bzg commented on #54
OpenDocument Reader est sous `GPL-3.0-or-later` : https://f-droid.org/en/packages/at.tomtasche.reader/

[2020-01-09 13:52] bzg opened #67 "Nouveau logiciel : LibreOffice Viewer"
LibreOffice Viewer

https://www.libreoffice.org/download/android-viewer/

À définir.

[2020-01-09 13:53] #54 closed, assigned to bzg

[2020-01-13 13:05] bzg opened #68 "Nouveau logiciel : Rudder"
Rudder

https://www.rudder.io/fr/

Oui.

[2020-01-13 13:10] #68 closed, assigned to bzg

[2020-02-10 09:30] bzg opened #76 "Amélioration : ajout d'un fichier `.csv` avec les dernières mises à jour"
Voir https://github.com/etalab/sill.etalab.gouv.fr/issues/14

[2020-02-10 09:30] bzg opened #77 "Amélioration : ajout de la date d'entrée du logiciel dans le SILL"
Voir https://github.com/etalab/sill.etalab.gouv.fr/issues/13

[2020-02-17 11:09] fredericBregier commented on #43
Ajout:
- Waarp V3.3.0 (version majeure) sortie en janvier 2020
- Waarp v3.3.1 (version mineure) sortie cette semaine en février 2020

[2020-02-17 16:35] bzg commented on #43
Bonjour, j'ai tenté de vous écrire à @culture.gouv.fr - le mail m'a été retourné. Pouvez-vous m'écrire à bastien.guerry@data.gouv.fr ? Merci !

[2020-02-21 15:54] dzc34 commented on #58
ce commit https://github.com/DISIC/sill/commit/cb106fb38f1471b2cab422a7b325a30dbcc4ef91 semblait supprimer MongoDB. mais il est toujours dans la dernière version du fichier.

[2020-02-21 16:11] #58 closed, assigned to bzg

[2020-02-21 16:11] bzg commented on #58
C'est corrigé, merci !

[2020-03-06 14:48] dzc34 commented on #53
rajouté sur le _Comptoir du Libre_ https://comptoir-du-libre.org/softwares/377 et PR #83.

@Franck-Cnam nous sommes intéressés par des témoignages sur la fiche du Comptoir pour ce logiciel.  N'hésitez pas à vous créer un compte (type administration) et rajouter votre témoignage.

[2020-03-07 13:42] bzg commented on #77
Fait dans https://github.com/etalab/sill.etalab.gouv.fr/commit/5a8d0f7d69c8fa64f2eff98cb458f9ca13b883b2

[2020-03-07 13:42] #77 closed, assigned to bzg

[2020-03-07 13:42] bzg commented on #76
Fait dans https://github.com/etalab/sill.etalab.gouv.fr/commit/5a8d0f7d69c8fa64f2eff98cb458f9ca13b883b2

[2020-03-07 13:42] #76 closed, assigned to bzg

[2020-03-07 13:43] bzg commented on #66
À faire après le choix du titulaire du nouveau marché de support.

[2020-03-07 13:44] bzg commented on #65
Après discussions, il a été décidé que nous gardions la recommandation sur la version, mais en essayant au maximum de contextualiser l'usage pour comprendre le choix de version.

[2020-03-07 13:44] #65 closed, assigned to bzg

[2020-03-07 13:44] bzg commented on #57
Je ferme cette issue, la colonne sur le comptoir du libre étant désormais mise à jour régulièrement.

[2020-03-07 13:44] #57 closed, assigned to bzg

[2020-03-07 13:45] bzg commented on #50
Discussion à rouvrir après la publication du SILL 2020.

[2020-03-07 13:46] bzg commented on #26
Réflexion à relancer après les premiers retours reçus sur le SILL 2020.

[2020-03-07 13:47] bzg commented on #50
Une hypothèse à considérer est de ne pas aller jusqu'au niveau des modules pour la recommandation. Il y a par exemple beaucoup de modules pour GLPI, je ne sais pas si c'est pertinent.

[2020-03-07 13:50] bzg commented on #53
Le logiciel a été intégré au SILL 2020.

[2020-03-07 13:50] #53 closed, assigned to bzg

[2020-03-07 13:50] bzg commented on #52
Le logiciel a été intégré au SILL 2020.

[2020-03-07 13:50] #52 closed, assigned to bzg

[2020-03-07 13:51] bzg commented on #49
Les versions de Squash TM ont été mises à jour - merci de vérifier sur https://sill.etalab.gouv.fr sur tout est OK et de me demander de rouvrir l'issue si besoin.

[2020-03-07 13:51] #49 closed, assigned to bzg

[2020-03-07 13:51] bzg commented on #44
RStudio est désormais présent sur https://sill.etalab.gouv.fr. Merci !

[2020-03-07 13:51] #44 closed, assigned to bzg

[2020-03-07 13:57] bzg commented on #2
Hello, je ferme cette issue : [RStudio](https://sill.etalab.gouv.fr/fr/software?id=182) a été ajouté, mais pour les autres logiciels, ouvrons une issue par proposition. Toujours avec l'impératif de trouver un référent dans l'administration pour le logiciel.

[2020-03-07 13:57] #2 closed, assigned to nobody

[2020-03-09 16:06] JulietteS opened #85 "Amélioration : Information sur l'accessibilité par logiciel"
Chaque administration utilise une bonne partie des logiciels du SILL.
Le respect du RGA est une information qu'on pourrait mutualiser davantage. Serait-il possible de l'ajouter au modèle de données, de manière à avoir facilement accès à l'information ?

[2020-03-10 09:27] bzg commented on #30
J'ai pris contact avec un référent potentiel.

[2020-03-10 09:39] bzg commented on #85
Oui - le respect du RGI et RGA fait partie des informations optionnelles mais souhaitables.

Voir [cette issue](https://github.com/DISIC/sill/issues/22) qui a permis d'aboutir à [cette formulation](https://disic.github.io/sill/#orgb2d72ab) - voir aussi [cette soumission](https://github.com/DISIC/sill/issues/43) qui présente une évaluation de ce critère pour le logiciel proposé.

Nous sommes trop p

[2020-03-11 09:21] #30 closed, assigned to bzg

[2020-03-28 10:47] maaaaz opened #90 "Nouveau logiciel : Captura"
Bonjour vous recommandez aujourd'hui "OBS Studio" pour la captation video.
Je vous propose Captura, qui est encore plus simple d'utilisation

https://mathewsachin.github.io/Captura/
https://framalibre.org/content/captura

Non

[2020-03-28 17:48] bzg commented on #90
Bonjour, merci pour la soumission. Avez-vous un contact avec un agent public dans la fonction publique d'Etat ou hospitalière qui pourrait se porter [référent](https://disic.github.io/sill/#org9f709d7) pour ce logiciel ?  C'est une condition indispensable, les référents échangeant entre eux pour choisir les logiciels du SILL.

[2020-03-29 12:33] maaaaz commented on #90
Malheureusement non :(

[2020-03-29 15:34] bzg commented on #90
Ce n'est pas grave, c'est toujours utile de référencer une solution ici pour mémoire et au cas où un référent se présenterait.  Merci !

[2020-04-20 08:05] bzg commented on #19
Discuté et fait en partie.

[2020-04-20 08:05] #19 closed, assigned to nobody

[2020-04-20 08:06] bzg commented on #15
La version actuelle du SILL est la 6.2.8, mais il est bien dit que c'est la version _minimale_ recommandée, les administrations installent la version qu'elles souhaitent.

[2020-04-20 08:06] #15 closed, assigned to nobody

[2020-04-20 08:10] bzg commented on #9
Salut @maukoquiroga : est-ce que tu souhaites devenir [référent](https://disic.github.io/sill/index.html#org9f709d7) pour openfisca ?

[2020-04-20 21:20] lboulanger opened #92 "Nouveau logiciel : SDK Géoportail"
Bonjour,

Nous souhaitons référencer l'[API JavaScript Géoportail](https://github.com/IGNF/geoportal-sdk), développée par l'[IGN](http://ign.fr/), permettant d'ajouter simplement dans un site web une carte utilisant les ressources du Géoportail (photographies aériennes, cartes topographiques, géocodage, calcul d'altimétrie, etc.).
Elle est constituée de plusieurs modules, nous souhaitons référence

[2020-04-21 17:05] bzg commented on #92
Merci pour la proposition. Quelle est la version minimale à recommander ?

Pouvez-vous m'envoyer par mail (bastien.guerry @ data.gouv.fr) le contact de la personne qui serait référente ?

[2020-04-21 17:06] bzg commented on #9
Hello @maukoquiroga - time and tide wait for no man...

Quelle serait la version minimale à recommander via le SILL ?

[2020-04-22 07:59] bzg commented on #92
Fait: https://sill.etalab.gouv.fr/fr/software?id=201

[2020-04-22 07:59] #92 closed, assigned to bzg

[2020-04-22 07:59] bzg commented on #9
OpenFisca est désormais dans le SILL: https://sill.etalab.gouv.fr/fr/software?id=200

Welcome!

[2020-04-22 07:59] #9 closed, assigned to nobody

[2020-04-22 09:48] lboulanger commented on #92
Bonjour,

Merci pour votre réactivité et la prise en compte de la demande !

Pour la description du logiciel dans la liste, est-ce possible d'ajouter plutôt :

**Fonction :**
Affichage d'une carte dynamique avec les données Géoportail (ou s'il faut faire vraiment très court ou simple : Cartographie web)

**Contexte :**
Développement web

Et ajouter les liens vers le site web (https://geoservices.i

[2020-04-22 11:32] bzg commented on #92
Bonjour,

j'ai mis à jour les informations pour la description et le contexte, avec les liens indiqués.

Pour les icones en bas de chaque fiche, c'est lorsque les informations sont accessibles via une entité de [Wikidata](https://www.wikidata.org/wiki/Wikidata:Main_Page): si vous créez une page Wikidata dédiée au SDK Géoportail vous pouvez ensuite m'envoyer l'identifiant de l'entité et je mettrai

[2020-04-24 09:15] lboulanger commented on #92
Merci pour ce retour et la prise en compte des modifications !
Bonne journée.

[2020-04-30 12:18] junfan59 opened #95 "Proposition d'aide : TYPO3"
Université de Lille

TYPO3

[2020-04-30 12:31] junfan59 opened #96 "Nouveau logiciel : TYPO3"
TYPO3 CMS

- https://typo3.org/
- https://github.com/TYPO3/TYPO3.CMS
- Licence GNU GPL v2 pour le CMS et GNU LGPL v3 pour le langage de templating associé "Fluid".

Moi même. J'ai contacté bastien.guerry@data.gouv.fr depuis mon adresse mail professionnelle.

[2020-05-05 10:13] don-vip opened #97 "Nouveau logiciel : JOSM"
JOSM (Java OpenStreetMap Editor)

https://josm.openstreetmap.de/
https://josm.openstreetmap.de/svn/trunk/
https://josm.openstreetmap.de/svn/trunk/LICENSE

[2020-05-05 10:33] tcataldo opened #98 "Logiciel concerné : zimbra"
Zimbra

Le logiciel zimbra ne sera désormais plus opensource à partir de sa nouvelle version, la 9:
https://wiki.zimbra.com/wiki/Zimbra_Releases/9.0.0
"There are no Open Source repositories specific to Zimbra 9."

[2020-05-05 11:25] bzg commented on #95
Proposition acceptée :)

[2020-05-05 11:25] #95 closed, assigned to bzg

[2020-05-05 11:26] bzg commented on #96
Bonjour, quelle est la version minimale recommandée par votre administration ?

[2020-05-05 11:31] #98 closed, assigned to bzg

[2020-05-05 11:32] bzg commented on #98
J'ai ajouté une alerte dans le SILL : pourrez-vous rouvrir une issue quand Zimbra 8.x ne sera plus, d'après-vous, une solution utilisable par l'administration ?

[2020-05-05 12:27] bzg commented on #97
Merci pour la proposition d'ajout.

Avez-vous un contact avec un agent public qui pourrait se porter référent ?  Voir [cette page](https://disic.github.io/sill/#org58fdd0a) pour quelques explications.

[2020-05-05 12:37] tcataldo commented on #98
La fin du support est autour de fin 2023, début 2024. https://www.zimbra.com/support/support-offerings/product-lifecycle/
Le temps de préparer sereinement la migration vers bluemind ;-)

[2020-05-05 12:48] don-vip commented on #97
Pas pour l'instant. J'ai fait un [appel à candidature](https://lists.openstreetmap.org/pipermail/talk-fr/2020-May/098860.html), j'espère que quelqu'un va se manifester.

[2020-05-05 12:50] bzg commented on #98
Merci pour l'info - d'ailleurs si on trouve une administration utilisatrice de Bluemind et qui souhaite être référente, cela aiderait à référencer d'autres solutions.

[2020-05-05 12:52] bzg commented on #97
Merci !

[2020-05-05 14:27] #96 closed, assigned to bzg

[2020-05-05 14:27] bzg commented on #96
C'est ajouté - merci !

[2020-05-05 14:39] fredericBregier commented on #43
Ajout:

- les banques s'y intéressent
- version 3.3.2 en avril, 3.3.3 à venir
- pas cette année donc, pour le SILL, alors que l'Etat l'utilise et seule solution OpenSource pour un usage indispensable en production... :-(

[2020-05-05 14:54] bzg commented on #43
Bonjour, comme dit dans le message juste avant, j'avais tenté de vous joindre sans succès.

Mon mail : bastien.guerry@data.gouv.fr

Pour entrer dans le SILL il faut qu'un agent public d'une administration utilisatrice se porte volontaire pour être [référent](https://disic.github.io/sill/#org58fdd0a).

Si vous avez ce volontaire dans une administration, n'hésitez pas à me mettre en contact avec lui

[2020-05-05 15:00] fredericBregier commented on #43
On en avait discuté par email directement en février (donc pas sans succès) : les référents existent (cités dans la requête) mais ne sont pas "volontaires" pour en jouer le rôle.
Je connais bien les travers de cette procédure (j'en étais) : il faut un référent qui accepte d'être ainsi cité. Peu l'accepte, même s'ils l'utilisent, devant les enjeux indirects (responsabilité pour les autres ministère

[2020-05-05 15:02] bzg commented on #43
Ca me revient, au temps pour moi.

Il faut bien expliquer aux référents potentiels qu'ils n'exposent pas leur nom, ni en public ni au sein de leur hiérarchie - ils participent simplement aux échanges avec les autres référents, ce qui est aussi (voire surtout) une occasion d'apprendre.

J'espère que certains franchiront le pas, il ne faut pas désespérer.

[2020-05-05 20:42] Dual-Boot opened #99 "Logiciel concerné : Shinken"
Shinken

N'est plus maintenu
Dernière version 2016 : https://github.com/naparuba/shinken/tree/2.4.3

[2020-05-06 10:14] jonathanPalais opened #100 "Proposition d'aide : Référent pour TYPO3"
Bonjour,

Le Palais de la découverte.
Je suis personnel ITRF (MESRI)

TYPO3

J'envoie un mail plus complet à bastien.guerry@data.gouv.fr

[2020-05-06 11:03] JacquesBraquet opened #101 "Nouveau logiciel :"

[2020-05-06 11:06] bzg commented on #101
Bonjour, votre issue est vide, pouvez-vous en rouvrir une autre avec les informations pour le logiciel à ajouter ? Merci !

[2020-05-06 11:06] #101 closed, assigned to bzg

[2020-05-06 11:50] JacquesBraquet opened #102 "Nouveau logiciel : TRACIM"
Tracim propose tous les outils nécessaires au travail en équipe et à la gestion des connaissances au sein d'une application unique.
Ses outils bureautiques collaboratifs peuvent être utilisés, entre autre, pour la collaboration et la coordination d'équipes pédagogiques.

[2020-05-07 09:13] bzg commented on #102
Bonjour, merci pour votre proposition.

Je vous recommande de lire [cette page](https://disic.github.io/sill/) pour comprendre la façon dont un logiciel peut être ajouté au SILL.  Si vous trouvez un référent SILL volontaire dans une administration publique utilisatrice de TRACIM, n'hésitez pas à nous tenir au courant.

[2020-05-07 09:21] bzg commented on #43
Pour information, je viens de relancer le groupe MIM DEVOPS pour savoir pourquoi Waarp n'est plus référencé et pour demande de l'aide pour trouver un référent.

[2020-05-07 09:34] fredericBregier commented on #43
@bzg Merci ;-)

[2020-05-07 12:48] bilbo-the-hobbit commented on #41
bonjour @bzg,

j'ai mis a jour le ticket suivant le template et ajoute le referent qui va s'en occuper

Bonne apres-midi

[2020-05-07 15:58] amichon69 opened #103 "Proposition d'aide : pour le logiciel fusiondirectory"
Bonjour,
Je voudrais vous proposer mon aide pour le logiciel

Fusiondirectory : https://github.com/DISIC/sill/issues/41

J'appartiens au

Ministère de l'enseignement supèrieur, de la recherche et de l'innovation

A bientot
Alexis

[2020-05-07 19:13] JacquesBraquet opened #104 "Proposition d'aide : référent TRACIM"
Je suis enseignant référent numérique dans un collège. Nous utilisons TRACIM pour coordonner l'équipe pédagogique pendant le confinement (suivi élève, planning des classes, liens classes virtuelles..).

Je veux bien être référent SILL pour TRACIM si ce rôle n'est pas trop chronophage et s'il n'y a pas de compétences techniques spécifiques à avoir.

[2020-05-08 05:05] bzg commented on #100
Bienvenue sur les listes mimo@ et sill-mainteneurs@ ! TYPO3 est en recommandé, je ferme le ticket.

[2020-05-08 05:05] #100 closed, assigned to bzg

[2020-05-08 09:40] bzg commented on #41
J'ai pris contact par mail avec @amichon69 - merci !

[2020-05-12 12:05] lcaylat opened #105 "Nouveau logiciel : Moodle"
Moodle

https://moodle.org/
https://github.com/moodle/moodle
https://docs.moodle.org/dev/License

Lionel Caylat (lionel.caylat@education.gouv.fr)

[2020-05-12 13:50] bzg opened #106 "Logiciel concerné : FranceTerme"
Cf. https://sill.etalab.gouv.fr/fr/software?id=190

La base terminologique FranceTerme est intégrée au correcteur Grammalecte déjà [référencé](https://sill.etalab.gouv.fr/fr/software?id=56).

[2020-05-13 15:52] dzc34 opened #107 "Logiciel CodiMD : fork me, forever !"
Problème de fork avec nom identique...

voir: https://github.com/DISIC/sill/commit/5a5635d97de9e60e36b0615116ff4d7c39610f6e

[code]
 ----------------------

2 dépôts  :
- https://github.com/hackmdio/codimd
- https://github.com/codimd/server ----> utilisé sur le [Comptoir du Libre](https://comptoir-du-libre.org/fr/softwares/362)

et une partie de l'histoire du fork : https://github.com/codimd/serve

[2020-05-14 06:46] #107 closed, assigned to nobody

[2020-05-14 06:47] bzg commented on #107
Merci d'avoir remonté ce problème. La version minimale recommandée par la DINUM est la 1.4.1 pour l'instant, et la DINUM utilise `hackmdio/codimd`.

A noter qu'un autre utilisateur de `codimd` dans l'administration a été contacté et pourrait devenir le référent SILL sur ce logiciel, du coup ça évoluera peut-être.

[2020-05-14 10:16] dzc34 commented on #107
Merci pour les précisions.
Pas simple les forks avec les noms identiques.

Les URLs sur la [fiche **CodiMD** du Comptoir-du-Libre](https://comptoir-du-libre.org/softwares/362) ont été modifiées pour prendre en compte la version et le dépôt actuellement préconisés dans le SILL.

[2020-05-14 12:18] bzg commented on #107
Super, merci pour ça !

[2020-05-17 20:51] don-vip commented on #97
C'est bon, l'appel a été concluant :)

[2020-05-18 15:26] Pbast opened #108 "Proposition d'aide : X"
Bonjour,

Ministère de la Transition écologique et solidaire/SG/MSP/DAM/SNUM

Je souhaite  proposer un logiciel en vue du SILL 2020: XWiki (https://www.xwiki.org/)  une application sous license Creative Common 1.0
De même, je souhaite être referents pour cette application web XWiki que j'ai mise en place dans notre ministère (maitrise d'oeuvre). J'ai contribué au développement open source et à la

[2020-05-18 16:05] bzg commented on #108
Bonjour, vous avez ouvert une issue vide : quelle était la demande ?

[2020-05-18 16:12] Pbast commented on #108
Oui désolé j'ai ouvert cette demande pour proposer XWiki et en être le référents. J'ai raccroché la touche d'envoi :/
Je viens d'éditer la demande original

[2020-05-18 16:22] bzg commented on #108
Merci pour la proposition !

C'est donc une instance du logiciel xwiki déployée sur des serveurs que vous gérez ?  Le SILL ne contient que des _logiciels_ (pas des services), la condition étant que le référent puisse aider les autres référents s'ils veulent _installer_ le logiciel sur leurs infrastructures (même si les autres référents ne dépendent évidemment pas de lui techniquement.)

Merci d'av

[2020-05-19 07:02] Pbast commented on #108
XWiki n'est pas du Saas. C'est une application web qui a besoin d'un serveur java+SGBD, tel que tomcat/postgresql pour fonctionner.
Je l'ai installée/paramètré sur un de nos serveur debian (sur un hébergement sec càd un linux nu +SSH est fournis) et j'en assure le MCO/upgrade de versions.
Je peux très bien aider les autres référents à l'utiliser/installer/tester comme je le fais pour la communauté

[2020-05-19 07:10] bzg commented on #108
Parfait, merci pour la confirmation ! Pouvez-vous m'envoyer un mail à `bastien.guerry @ data.gouv.fr` pour la suite ?

[2020-05-19 07:29] Pbast commented on #108
Oui avec mon mail en gouv.fr (je termine une réunion/visio)

[2020-05-20 10:39] sguerlet opened #109 "Consul : incohérence des liens"
Bonjour,

L'entrée ["Consul"](https://sill.etalab.gouv.fr/en/software?id=26) du SILL est incohérente en terme de lien/logo :
- les liens du site web et du code source pointent vers la solution Consul d'Hashicorp (configuration distribuée)
- le lien "Comptoir du libre" et le logo de la fiche font référence à la solution de débat citoyen/vote Consul  http://consulproject.org/

[2020-05-20 12:02] bzg commented on #109
Merci pour votre message, ce point nous a déjà été signalé par ailleurs, nous sommes en train de voir comment le résoudre - je laisse ouvert en attendant.

[2020-05-28 14:06] v20100v opened #111 "Nouveau logiciel : Pentaho"
### Pentaho

Il s'agit d'une solution d'informatique décisionnelle (plateform BI) précédemment inscrite au SILL édition 2017. Cette solution est constitué de différents composants dont :

- Pentaho Data Integration (aka Kettle) : solution ETL pour l'intégration des données
- Pentaho Server (aka Business Analytics platform)
- et bien d'autres composants et extensions dont on peut voir la liste ici

[2020-05-28 14:18] v20100v opened #112 "Nouveau logiciel : Composer"
### Composer

Outil de gestion des dépendances PHP
https://getcomposer.org/

### Licence

Composer and all content on this site are released under the MIT license.

### Référent pour porter ce logiciel ?
N'importe quel développeur PHP

[2020-05-28 14:25] v20100v opened #113 "Nouveau logiciel : Symfony"
### Symfony framework

Framework de développement PHP et ensemble de composants réutilisables.

### URL
- https://symfony.com/what-is-symfony
- https://symfony.com/components

### Symfony licences
Symfony code is released under the MIT license:

The Symfony documentation is licensed under a Creative Commons Attribution-Share Alike 3.0 Unported License (CC BY-SA 3.0).
https://symfony.com/doc/curren

[2020-06-01 01:54] ZerooCool opened #114 "Nouveau logiciel : Iptables / Netfilter"
https://www.netfilter.org
https://www.netfilter.org/news.html#2019-05-27b
https://www.netfilter.org/about.html#license

Non, pas de porteur identifié dans l'administration.

J'ai envoyé un mail pour proposer Iptables / Netfilter, voilà la réponse reçue :

[code]

Mes recherches sur IPtables :
https://wiki.visionduweb.fr/index.php?title=Configurer_le_pare-feu_Iptables

[2020-06-10 08:15] pvi-github opened #115 "Nouveau logiciel : LinShare dans les solutions de partage de fichiers"
Bonjour,
Je crée ma première issue ici pour l'ajout de LinShare au SILL.

### Nom
LinShare

### urls
site web : https://www.linshare.org/

forge : https://github.com/linagora/linshare

License : https://www.linshare.org/files/LinShare-License_AfferoGPL-v3_en.pdf

### Fonctionnalites

LinShare est un logiciel de **partage de fichiers** libre (Licence AGPL poussée par la Free Software Foundation).

[2020-06-10 08:38] bzg commented on #115
Bonjour et merci pour cette proposition.  Si Mme Malon est bien volontaire pour être référente de LinShare, pouvez-vous lui demander de me contacter par mail ? `bastien.guerry@data.gouv.fr`

Merci !

[2020-06-10 17:13] pvi-github commented on #115
Bonjour,

C'est fait, elle vous a envoyé un email dans la journée.

Très cordialement,

[2020-06-11 05:25] bzg commented on #115
Bonjour, j'ai répondu à Mme Malon hier, elle peut désormais proposer LinShare au référencement. Merci !

[2020-06-18 14:16] bilbo-the-hobbit opened #116 "Amélioration : changement de l'url pour les sources de LemonLDAP::NG"
les sources pour LemonLDAP::NG pointent vers un depot svn qui n'existe plus

le projet est heberge sur le gitlab de ow2.org

https://gitlab.ow2.org/lemonldap-ng/lemonldap-ng

corrige un erreur sur la fiche de LemonLDAP::NG

[2020-06-18 16:46] bzg commented on #116
Merci !

Le dépôt de code source indiqué dans le SILL est collecté depuis l'entité wikidata, quand celle-ci est connue.

J'ai donc mis à jour l'entité de [LemonLDAP::NG](https://www.wikidata.org/wiki/Q3229380) pour ajouter ce dépôt, avec la date d'aujourd'hui comme date de consultation.

Il y a actuellement un bug qui fait que les données collectées ne retiennent que le premier dépôt indiqué sur l

[2020-06-24 01:52] dzc34 commented on #109
URL complémentaires :
- [sill-2020.csv ligne L27](https://github.com/DISIC/sill/blob/master/2020/sill-2020.csv#L27)
- [wikiData Q28709844](https://www.wikidata.org/wiki/Q28709844)
- [Consult (solution de débat) sur le "Comptoir du libre"](https://comptoir-du-libre.org/en/softwares/317)

[2020-06-26 07:49] bzg commented on #115
Bonjour, sauf erreur de ma part, la licence sur le dépôt https://github.com/linagora/linshare n'est pas indiquée.

J'ai ouvert [cette issue](https://github.com/linagora/linshare/issues/120) pour suivre l'ajout, qui est un prérequis pour que le logiciel soit référencé au SILL.

[2020-06-26 13:29] bzg commented on #108
XWiki est dans le sill: https://sill.etalab.gouv.fr/fr/software?id=214

[2020-06-26 13:29] #108 closed, assigned to bzg

[2020-06-26 13:30] bzg commented on #104
Tracim est dans le SILL : https://sill.etalab.gouv.fr/fr/software?id=213

Il manque une version minimale recommandée, n'hésite pas à m'écrire directement pour préciser.

[2020-06-26 13:30] #104 closed, assigned to bzg

[2020-06-26 13:30] bzg commented on #102
Tracim est dans le SILL : https://sill.etalab.gouv.fr/fr/software?id=213

Il manque une version minimale recommandée, n'hésite pas à m'écrire directement pour préciser.

[2020-06-26 13:30] #102 closed, assigned to bzg

[2020-06-26 13:30] bzg commented on #97
JOSM est désormais dans le SILL : https://sill.etalab.gouv.fr/fr/software?id=207

[2020-06-26 13:30] #97 closed, assigned to bzg

[2020-06-26 13:31] bzg commented on #111
Pentaho CE est désormais dans le SILL : https://sill.etalab.gouv.fr/fr/software?id=212

[2020-06-26 13:31] #111 closed, assigned to bzg

[2020-06-26 13:36] bzg commented on #103
FusionDirectory est désormais dans le SILL: https://sill.etalab.gouv.fr/fr/software?id=206

[2020-06-26 13:36] #103 closed, assigned to bzg

[2020-06-26 13:36] bzg commented on #41
FusionDirectory est désormais dans le SILL: https://sill.etalab.gouv.fr/fr/software?id=206

[2020-06-26 13:36] #41 closed, assigned to bzg

[2020-06-26 13:37] bzg commented on #105
Moodle est désormais référencé dans le SILL : https://sill.etalab.gouv.fr/fr/software?id=208

[2020-06-26 13:37] #105 closed, assigned to bzg

[2020-06-26 13:41] #106 closed, assigned to bzg

[2020-06-26 15:15] don-vip commented on #97
@bzg génial merci ! Juste un petit détail, "OpenStreetMap" s'écrit tout attaché, c'est possible de supprimer les espaces ?

[2020-06-26 15:30] bzg commented on #97
C'est corrigé - merci !

[2020-06-27 10:56] bzg commented on #116
C'est corrigé - merci !

[2020-06-27 10:56] #116 closed, assigned to bzg

[2020-06-27 11:02] bzg commented on #109
C'est corrigé en partie.  Le logo affiché vient du cache de Wikidata qui n'a pas intégré la suppression de cette référence, ce sera corrigé je pense d'ici demain. Ne pas hésiter à rouvrir cette issue si ce n'est pas le cas.

[2020-06-27 11:02] #109 closed, assigned to nobody

[2020-06-30 13:15] dzc34 opened #118 "Color Contrast Analyser : URLs ?"
Quels sont les URLs du logiciel "Color Contrast Analyser" ?
https://sill.etalab.gouv.fr/fr/software?id=204

C'est ce logiciel : "Colour Contrast Analyser (CCA)" de paciellogroup ?
- https://developer.paciellogroup.com/resources/contrastanalyser/
- https://github.com/ThePacielloGroup/CCAe

[2020-06-30 14:37] bzg commented on #118
Oui (avec "Colour" plutôt que "color"):

- https://developer.paciellogroup.com/resources/contrastanalyser/
- https://github.com/ThePacielloGroup/CCA-Win (version historique)
- https://github.com/ThePacielloGroup/CCAe (nouvelle version, sur base Electron)

[2020-06-30 15:13] #118 closed, assigned to nobody

[2020-07-08 07:40] pvi-github commented on #115
Bonjour,

Les fichiers de licence sont arrivés dans les dépots github de LinShare.

J'ai commenté l'issue que vous avez ouvert  [/linagora/linshare/issues/120](/linagora/linshare/issues/120) et je fais le pendant ici pour la bonne forme.

Reste-t-il quelque chose à faire pour aider au référencement de LinShare ?

Très cordialement,
PVI

[2020-07-08 07:49] bzg commented on #115
Merci pour les ajouts !  Il y a une URL à corriger dans `COPYING.md` et ensuite on devrait être bon, mais je souhaite lire le contenu pointé par cette URL justement.

[2020-07-08 08:35] pvi-github commented on #115
Rebonjour,

L'URL devrait pointer vers les fichiers qui sont là : http://download.linshare.org/licence/ (C'est le même sous deux formats : pdf et markdown)

Le fichier dont l'URL est "cassée" (LinShare-License_AfferoGPL-v3.pdf) semble avoir été déplacé dans le sous-répertoire "old"

En espérant que ça aide.

Très cordialement,
PVI

[2020-07-08 08:43] bzg commented on #115
Bonjour, pardon je n'ai peut-être pas été assez clair.

Le fichier [COPYING.md](https://github.com/linagora/linshare/blob/master/COPYING.md) contient un lien vers une URL `http://www.linshare.org/licenses/LinShare-License_AfferoGPL-v3.pdf` qui fait arriver sur cette page d'erreur:

![2020-07-08-104202_1920x1080_scrot](https://user-images.githubusercontent.com/63500/86897564-de7eb880-c107-11ea-82bf

[2020-07-08 08:48] pvi-github commented on #115
Rebonjour,

Si, si, vous avez été parfaitement clair (moi un peu moins visiblement) et j'ai déjà fait passer l'info pour que ça soit corrigé (Merci pour votre vigilance au passage).

En fait comme vous sembliez vouloir lire le document je vous ai en parallèle donné le "bon" emplacement afin de vous faciliter la vie.

Très cordialement,
PVI

[2020-07-08 09:07] bzg commented on #115
OK, merci. J'ai lu le document `LinShare-License-AfferoGPL_V3_7bce_terms.pdf` et je vais consulter en interne pour vérifier que les demandes supplémentaires faites par rapport à une licence Affero GPL permettent de continuer à qualifier la licence de "FSF approved", un prérequis pour l'ajout au SILL.

Si vous avez des éléments à apporter pour cette question, n'hésitez pas.

[2020-07-09 10:18] bzg commented on #16
En recherche d'un [référent](https://disic.github.io/sill/index.html#org5398981).

[2020-07-10 13:59] pvi-github commented on #115
Bonjour,

Les liens morts ont tous été corrigés. Merci pour vos retours ça fait déjà plus propre que des 404.

La démarche de vérification est super intéressante, je suis curieux des résultats que ça donnera. S'il y a des remarques à prendre en compte je transmettrai, ça sera peut être une nouvelle occasion d'améliorer les choses.

Bon week-end,
PVI

[2020-07-27 07:42] dzc34 opened #122 "Gravitee CE"
Bonjour,

Le dépôt de code du logiciel "Gravitee CE", c'est bien celui là ?
https://github.com/gravitee-io/gravitee-gateway

[2020-07-27 11:45] bzg commented on #122
Cc @Bernardstanislas qui saura répondre.

Il n'y a pas encore d'entité Wikidata pour Gravitee CE, ce serait l'occasion de la créer.

[2020-08-13 18:17] #122 closed, assigned to nobody

[2020-09-10 07:45] jyterrien opened #125 "Cas d'usage :"
Bonjour

Je suis en charge du choix des outils pour le service développement d'application pour les Hôpitaux de Paris.
Je ne sais pas trop ni où ni comment ouvrir une discussion sur les forges logicielles.

1) le sill n'est pas (encore) ouvert aux établissements. Je peux affirmer qu'il n'en est pas moins consulté. et c'est une attente.
2) le sill contient divers outils qui couvrent les besoin d'un

[2020-09-14 07:34] bzg commented on #125
Bonjour Jean-Yves,

merci pour ces questions !

C'est le bon endroit.

À noter que depuis 2020, le SILL s'adresse explicitement à "la fonction publique d'État ou hospitalière" (cf. [cette page](https://sill.etalab.gouv.fr/fr/about)).

GitLab et Redmine sont tous deux recommandés dans le SILL :

https://sill.etalab.gouv.fr/fr/software?id=53

https://sill.etalab.gouv.fr/fr/software?id=122

Oui, le S

[2020-11-17 15:02] bzg commented on #125
Bonjour, pour information, un atelier autour de Tuleap est prévu le 15 janvier à 11h, voir les détails sur [le calendrier des événements #BlueHats](https://pad.incubateur.net/d3cj0U1WT42y-rQoozp4gQ).

[2020-11-17 15:05] bzg opened #126 "Nouveau logiciel : Tuleap"
- Tuleap
- https://www.tuleap.org/fr/
- https://github.com/Enalean/tuleap (GPL-2.0)

Tuleap est utilisé par le programme VITAM, le MinArm et l'APHP (cf. [cette issue](https://github.com/DISIC/sill/issues/125)).

[2020-11-17 18:36] jyterrien commented on #125
Bonsoir

Nous utilisons Tuleap pour une 50 de projet et 130 personnes

Je peux faire un petit retour d'expérience si ça vous dit

A+JYT

[2020-11-18 09:59] bzg commented on #125
Merci ! J'ai signalé cette proposition aux intervenants du 15 janvier.

[2021-01-15 18:25] jgribonvald opened #128 "Nouveau logiciel : uPortal"
uPortal

site de la fondation (non lucrative) portant le projet: https://www.apereo.org/projects/uportal
sources: https://github.com/Jasig/uPortal
licence Apache 2 indiquée dans les sources du projet

Référent: Moi même, l'un des rares commiter Français sur le projet, je suis aussi membre du groupe communautaire de "direction" du projet.

Cas d'usage: Ce portail est utilisé comme base de la soluti

[2021-01-18 05:39] bzg commented on #128
Bonjour, merci pour cette proposition.

Le SILL ne référence pas les solutions de la fonction publique territoriale, dont relèvent les collectivités.  Il faudrait un usage dans une université ou un centre de recherche.  Les référents SILL doivent par ailleurs être des agents publics. Pouvez-vous m'indiquer par mail (bastien.guerry@data.gouv.fr) si (1) vous êtes agent public (ou connaissez un agent

[2021-01-21 10:48] jeffix2000 commented on #126
# Emploi au MinArm

Tuleap est une application web collaborative de gestion de projet ou produit. Utilisé à son plein potentiel comme application lifecycle management (ALM, gestion de cycle de vie d'applications), la polyvalence de ses fonctions et l'adaptabilité de son modèle de données lui permettent d'outiller de nombreux contextes de pilotage d'activité.

## Tuleap, pourquoi faire ?

**Gagner

[2021-01-21 12:35] XanderLeaDaren opened #129 "Nouveau logiciel : PeerTube"
### PeerTube

Site : https://joinpeertube.org/

GitHub : https://github.com/Chocobozzz/PeerTube

Licence : GNU Affero General Public License v3.0

### Référents :
Une page de descriptif https://lyceeconnecte.fr/peertube et ses partenaires clairement identifiables :
* https://www.nouvelle-aquitaine.fr/
* http://www.ac-poitiers.fr/
* http://www.ac-limoges.fr/
* http://www.ac-bordeaux.fr/
* https://w

[2021-01-22 11:21] dzc34 commented on #126
ID comptoir du libre : **325**
https://comptoir-du-libre.org/fr/softwares/325

[2021-01-25 09:29] bzg commented on #129
Bonjour @XanderLeaDaren et merci pour la proposition !

Peertube est déjà référencé dans le SILL: https://sill.etalab.gouv.fr/fr/software?id=197

[2021-01-25 09:29] #129 closed, assigned to bzg

[2021-01-25 09:35] bzg commented on #126
Merci pour la proposition, c'est en cours d'évaluation.

[2021-02-22 14:58] bzg opened #130 "Nouveau logiciel : FreeSWITCH"
Freeswitch

https://github.com/signalwire/freeswitch

MENJ?

[2021-03-09 17:34] bzg opened #132 "Amélioration : remplacer CodiMD par HedgeDoc"
Le référent pour CodiMD (DINUM) utilise désormais [HedgeDoc](https://hedgedoc.org/history/), il faudrait mettre le SILL à jour en conséquence.

[2021-03-10 00:26] dzc34 commented on #132
L'ID comptoir pour _HedgeDoc_ : **422**
https://comptoir-du-libre.org/fr/softwares/422

L'ID comptoir pour _CodiMD_ n'a pas changé.

[2021-03-30 16:37] nschont opened #133 "Mise à jour de version : Peertube"
passage de la version 2.x à 3.1 donc 3.x

[2021-03-30 16:38] nschont commented on #130
finalement non on ne l'utilisera pas désolé

[2021-03-30 16:40] bzg commented on #130
Pas de souci ! Je ferme.

[2021-03-30 16:40] #130 closed, assigned to bzg

[2021-03-30 16:41] #133 closed, assigned to nobody

[2021-04-01 09:02] MAG-33 opened #135 "Proposition d'aide :"
Bonjour,

Je suis fonctionnaire (CNRS)
Je souhaiterais ^etre référent pour  :

Lazarus/freepascal : https://www.lazarus-ide.org/
PilotLogic : https://www.pilotlogic.com/sitejoom/

Afin de les rajouter à la liste du SILL

Cordialement.

Michel GONZALEZ

[2021-04-01 09:08] bzg commented on #135
Bonjour et merci pour votre proposition.

Pouvez-vous donner quelques informations supplémentaire pour chaque logiciel:

- quel usage en est fait dans votre administration (et d'autres éventuellement) ?
- quelle est la licence libre ?
- existe-t-il une entité [Wikidata](https://www.wikidata.org/) ?

Merci d'avance pour les précisions !

[2021-04-01 09:13] MAG-33 opened #136 "Nouveau logiciel :"
1) Lazarus

2) CodeTyphon Studio

1) https://www.lazarus-ide.org/  ( Open Source)
2) https://www.pilotlogic.com/sitejoom/  (Free and Open Source)

Pas encore. Mais je souhaiterais devenir référent.

[2021-04-01 09:28] MAG-33 commented on #135
J’utilise ces logiciels (lazarus et CodeTyphon) pour divers petites applications à usage interne et multi-plateforme.

Les outils que j’ai dévellopé permettent une meilleure ergonomie et un gain de temps appréciables pour les utilisateurs.

En interaction constante avec les services et disposant des sources, je peux dès que cela est nécessaire intervenir et assurer une maintenance évolutive et cur

[2021-04-01 10:09] bzg commented on #135
Bonjour, merci pour votre retour.  Pouvez-vous m'indiquer les licences sous lesquels ces logiciels sont distribués ainsi que la version minimale que vous recommanderiez à l'administration ?  C'est pour préparer l'email que vous enverrez aux autres référents SILL qui évalueront l'intérêt d'intégrer ces logiciels au socle.  Merci !

[2021-04-01 10:10] bzg commented on #136
Bonjour, cette issue est en double de https://github.com/DISIC/sill/issues/135, je ferme.

[2021-04-01 10:10] #136 closed, assigned to bzg

[2021-04-01 12:40] MAG-33 commented on #135
Les licences sont :

Pour lazarus : Licence LGPL/GPL
https://wiki.lazarus.freepascal.org/licensing#Licensing_relating_to_FPC.2FLazarus_usage

et LGPL pour le compilateur Freepascal
https://www.freepascal.org/

Pour CodeTyphon : Freeware/Open source pour l’EDI
http://www.pilotlogic.com/codetyphon/license.htm

et LGPL pour le compilateur Freepascal (idem pour Lazarus)
https://www.freepascal.org/

--

[2021-04-01 12:45] bzg commented on #135
Merci beaucoup.

Pour codetyphon, la licence ne fait malheureusement pas partie des licences libres permettant à un logiciel de rejoindre le SILL.  Voir [cette page](https://disic.github.io/sill/index.html#orgbcdab87).

[2021-04-01 12:46] bzg commented on #135
Pouvez-vous m'écrire à `bastien.guerry@data.gouv.fr` pour que je vous envoie les instructions par email pour la suite ?

[2021-04-01 12:57] MAG-33 commented on #135
Je m'en doutais un peu. CodeTyphon a fait couler un peu "d'encre" sur developpez.com.
Mais je dois reconnaitre que la mise en place de la crosscompilation (multiplateforme) est hyper conviviale ;).
Il nous reste donc Lazarus ;)
________________________________
De : Bastien ***@***.***
Envoyé : jeudi 1 avril 2021 14:46
À : DISIC/sill
Cc : GONZALEZ Michel; Author
Objet : Re: [DISIC/sill] Proposition

[2021-04-14 10:00] #135 closed, assigned to bzg

[2021-04-14 10:01] bzg commented on #135
C'est désormais publié, merci beaucoup !

[2021-04-14 12:33] MAG-33 commented on #135
Bonjour,

Merci surtout au SILL.

Je dois avouer qu‘il m’est agréable de voir que le logiciel que j’utilise depuis des décennies soit référencé alors qu’il est bien moins populaire que d’autres. Il faut espérer que ce référencement contribue a sont maintiens parmi les AGL et qu’il donne naissance à d’autres logiciels opensource.

Michel

________________________________
De : Bastien ***@***.***
En

[2021-05-26 08:52] dzc34 commented on #135
Bonjour,

Les fiches sur Comptoir du Libre ont été ajoutées pour :
- Lazarus IDE - https://comptoir-du-libre.org/fr/softwares/430
- FreePascal - https://comptoir-du-libre.org/fr/softwares/429

@bzg une PR arrive pour mettre à jour le fichier SILL avec les ID du comptoir

@MAG-33 En vous inscrivant sur le Comptoir, vous pouvez modifier ces fiches FreePascal  et Lazarus IDE pour les améliorer, et au

[2021-05-26 09:23] dzc34 commented on #135
La PR est là : https://github.com/DISIC/sill/pull/137

[2021-07-04 09:50] babolab commented on #2
Bonjour,
Merci beaucoup pour l'ajout de RStudio. Je n'ai pas trouvé par contre R dans la liste. Est-il possible de l'ajouter?
Bonne journée!

[2021-07-04 12:17] bzg commented on #2
Bonjour,

oui, si vous êtes agent public et souhaitez être le référent SILL pour R: https://disic.github.io/sill/index.html#org356ae69

Sinon vous pouvez solliciter un agent public pour qu'il soit référent.

Ensuite, il suffit d'envoyer un email à sill-mainteneurs@listes.etalab.gouv.fr pour faire la proposition avec:

- le nom du logiciel libre
- la licence utilisée
- éventuellement le lien vers s

[2021-10-24 05:47] #132 closed, assigned to bzg

[2021-10-24 05:47] #128 closed, assigned to bzg

[2021-10-24 05:47] #126 closed, assigned to bzg

[2021-10-24 05:48] #125 closed, assigned to bzg

[2021-10-24 05:48] #115 closed, assigned to bzg

[2021-10-24 05:49] #66 closed, assigned to bzg

[2021-11-27 10:43] bzg commented on #99
Le logiciel a été supprimé du SILL.

[2021-11-27 10:43] #99 closed, assigned to bzg

[2021-11-27 10:44] #85 closed, assigned to bzg

[2021-11-27 10:45] bzg commented on #85
Les améliorations du SILL seront gérées sur un autre dépôt, celle-ci est bien notée.

[2021-11-27 10:46] bzg commented on #114
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:46] #114 closed, assigned to bzg

[2021-11-27 10:47] bzg commented on #113
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:47] #113 closed, assigned to bzg

[2021-11-27 10:47] bzg commented on #112
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:47] #112 closed, assigned to bzg

[2021-11-27 10:47] bzg commented on #90
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:47] #90 closed, assigned to bzg

[2021-11-27 10:48] bzg commented on #67
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:48] #67 closed, assigned to bzg

[2021-11-27 10:48] #62 closed, assigned to bzg

[2021-11-27 10:48] #61 closed, assigned to bzg

[2021-11-27 10:49] #60 closed, assigned to bzg

[2021-11-27 10:49] #59 closed, assigned to bzg

[2021-11-27 10:49] #55 closed, assigned to bzg

[2021-11-27 10:49] bzg commented on #51
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:49] #51 closed, assigned to bzg

[2021-11-27 10:50] bzg commented on #42
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:50] #42 closed, assigned to bzg

[2021-11-27 10:52] bzg commented on #37
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:52] #37 closed, assigned to bzg

[2021-11-27 10:52] bzg commented on #39
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:52] #39 closed, assigned to bzg

[2021-11-27 10:53] bzg commented on #50
Les améliorations du SILL seront gérées sur un autre dépôt, celle-ci est bien notée.

[2021-11-27 10:53] #50 closed, assigned to bzg

[2021-11-27 10:54] bzg commented on #34
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:54] #34 closed, assigned to bzg

[2021-11-27 10:54] bzg commented on #35
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:54] #35 closed, assigned to bzg

[2021-11-27 10:55] bzg commented on #33
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:55] #33 closed, assigned to bzg

[2021-11-27 10:55] bzg commented on #32
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:55] #32 closed, assigned to bzg

[2021-11-27 10:55] bzg commented on #31
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:55] #31 closed, assigned to bzg

[2021-11-27 10:56] bzg commented on #27
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:56] #27 closed, assigned to bzg

[2021-11-27 10:56] bzg commented on #26
Les améliorations du SILL seront gérées sur un autre dépôt, celle-ci est bien notée.

[2021-11-27 10:56] #26 closed, assigned to bzg

[2021-11-27 10:57] bzg commented on #10
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:57] #10 closed, assigned to nobody

[2021-11-27 10:57] bzg commented on #1
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:57] #1 closed, assigned to nobody

[2021-11-27 10:57] bzg commented on #12
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:57] #12 closed, assigned to nobody

[2021-11-27 10:58] bzg commented on #4
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:58] #4 closed, assigned to nobody

[2021-11-27 10:58] bzg commented on #5
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:58] #5 closed, assigned to nobody

[2021-11-27 10:59] bzg commented on #8
Les améliorations du SILL seront gérées sur un autre dépôt, celle-ci est bien notée.

[2021-11-27 10:59] #8 closed, assigned to nobody

[2021-11-27 10:59] bzg commented on #13
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:59] #13 closed, assigned to nobody

[2021-11-27 10:59] bzg commented on #16
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 10:59] #16 closed, assigned to nobody

[2021-11-27 11:00] bzg commented on #18
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Nous avons bien noté celle-ci.

[2021-11-27 11:00] #18 closed, assigned to bzg

[2021-11-27 11:00] bzg commented on #40
Les propositions d'ajout dans le SILL vont être gérées autrement à partir de 2022.  Celle-ci est un peu compliquée, mais nous l'avons bien notée.

[2021-11-27 11:00] #40 closed, assigned to bzg

[2021-11-27 11:01] bzg commented on #24
Les améliorations du SILL seront gérées sur un autre dépôt, celle-ci est bien notée.

[2021-11-27 11:01] #24 closed, assigned to bzg

[2021-11-27 11:03] bzg commented on #28
Salut @coudot - j'ai bien noté cette idée.  Je ferme les issues sur ce dépôt, car le SILL va être refondu très bientôt.  On a bien archivé et en tête les demandes d'ajout ou de modification, tu devrais recevoir des nouvelles d'ici fin février sur le nouveau SILL je pense.

[2021-11-27 11:03] #28 closed, assigned to bzg

[2021-11-27 11:04] bzg commented on #43
Cette issue est désormais très ancienne... je propose de la fermer, je vous envoie un mail pour faire le point.  Les évolutions du SILL ne seront plus gérées via les issues de ce dépôt à partir de janvier 2022, nous tiendrons bien sûr la communauté informée.

[2021-11-27 11:04] #43 closed, assigned to bzg

[2021-11-27 11:05] bzg commented on #36
Les améliorations du SILL seront gérées sur un autre dépôt, mais celle-ci est bien notée !

[2021-11-27 11:05] #36 closed, assigned to bzg